{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <h1>Nova postagem</h1>
    <form class="form" role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="formSetAnexo" class="ibox-body" aria-expanded="true">

                {{ dependente_cliente.management_form }}
                {% for form in dependente_cliente.forms %}

                    <div class="{% cycle row1 row2 row3 row4 %} row formset_dependente_row">

                        {% for field in form.visible_fields %}

                            {# Incluindo os campos hidden do form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}

                            <div class="form-group col-sm-4">
                                {% bootstrap_field field %}
                                {{ field.errors.as_ul }}
                            </div>

                            {# Quando for a última volta do loop, inclui uma linha para separar o próximo form #}
                            {% if forloop.last %}
                                <div class="form-group col-sm-12">
                                    <hr>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                {% endfor %}

        </div>
        <button type="submit" class="save btn btn-default">Save</button>
        <a class="btn btn-primary" href="{% url 'cliente:create' %}">Listar</a>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{% static 'formSet/f.js' %}"></script>
<script type="text/javascript">
    $('.formset_dependente_row').formset({
        addText: 'add family member',
        deleteText: 'remove',
        prefix: 'dependente_set'
    });
</script>
{% endblock %}