{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
    {% csrf_token %}
    {{ form.non_field_errors }}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SmPy</title>
  </head>
  <body>
    <div class="container">

    <br><br>
    <h1 class="text-center text-uppercase text-success bg-dark">Listagem</h1>
    <br><br>
    <table class="table">
        <thead class="thead-dark">
          <tr>            
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Celular</th>
            <th scope="col">Ativo</th>
            <th scope="col">E-mail</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
            {% for cliente in object_list %}
                <tr>
                    <th>{{ cliente.nome }}</th>
                    <th>{{ cliente.cidade }}</th>
                    <th>{{ cliente.tel_celular }}</th>
                    <th>{% if cliente.is_active%} Sim {% else%} Não {% endif %}</th>
                    <th>{{ cliente.email }}</th>
                    <th>
                        <a class="btn btn-primary" href="{{ cliente.get_list_url }}">Alterar</a>
                    </th>
                </tr>
          {% endfor %}
        </tbody>
      </table>
    <a class="btn btn-success" href="{% url 'cliente:create' %}">Cadastar</a>
    <br><br>  
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}